<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         processIsolation="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="PHPUnit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>